body {
    background-color: aqua;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
