@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <p><a href="http://localhost:12922/Admin/edition">Edtions List</a></p>
</div>

<div>
    <p><a href="http://localhost:12922/admin/edition/create">Admin/Edition/Create</a></p>
</div>

<div>
    <p><a href="http://localhost:12922/Admin/Edition/Details/1">Admin/Edition/Details/1</a></p>
</div>

<div>
    <p><a href="http://localhost:12922/admin/speakers">Speakers List</a></p>
</div>

<div>
    <p><a href="http://localhost:12922/admin/speakers/create">Admin/Speakers/Create</a></p>
</div>